.extra-space{
    font-weight: bold !important;
}



/* Style for the truncated text */
.truncated-text { /* Set a maximum height for approximately four lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit the number of lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; /* Show three dots when text is truncated */
    white-space: pre-line; /* Preserve new lines */
    transition: max-height 0.3s ease;
  }
  
  /* Style for the full text */
  .expanded-text {
    max-height: none;
  }
  
  /* Container style to hide overflow content */
  .text-container {
    overflow: hidden;
  }
  
  /* Add new line after full stop */
  .truncated-text::after,
  .expanded-text::after {
    content: '\A'; /* '\A' represents a new line */
    white-space: pre; /* Ensure the new line is rendered properly */
  }
  