<!-- ============================ Page Title Start================================== -->
<div class="page-title" style="background:#f4f4f4 url(assets/img/slider-3.jpg);" data-overlay="5">
    <div class="ht-80"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 position-relative z-1">
                <div class="_page_tetio">
                    <div class="pledtio_wrap"><span>Get In Touch</span></div>
                    <h2 class="text-light mb-0">Get Helps & Friendly Support</h2>
                    <p>Looking for help or any support? We's available 24 hour a day.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ht-120"></div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section class="pt-0">
    <div class="container">
        <div class="row align-items-center pretio_top">
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact-box">
                    <i class="ti-shopping-cart text-danger"></i>
                    <h4>Contact Sales</h4>
                    <p>rayaanrealestateadvisior@gmail.com</p>
                    <span>+91 9358792626</span>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact-box">
                    <i class="ti-user text-danger"></i>
                    <h4>Contact Sales</h4>
                    <p>info.jangidpower@gmail.com</p>
                    <span>+91 8829058003</span>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact-box">
                    <i class="ti-comment-alt text-danger"></i>
                    <h4>Start Live Chat</h4>
                    <span>+91 7014783091</span>
                    <span class="live-chat">Chat on whatsapp</span>
                </div>
            </div>
            
        </div>
        
        <!-- row Start -->
        <form [formGroup]="contactForm" (ngSubmit)="submitContact()">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="property_block_wrap">
                        
                        <div class="property_block_wrap_header">
                            <h4 class="property_block_title">Fillup The Form</h4>
                        </div>
                        
                        <div class="block-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input placeholder="Enter your name" formControlName="name" type="text" class="form-control simple">
                                        <small *ngIf="!contactForm.get('name')?.valid && submitForm" class="text-danger">*Please fill out of name field</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input placeholder="Enter your email" formControlName="email" type="email" class="form-control simple">
                                    <small *ngIf="!contactForm.get('email')?.valid && submitForm" class="text-danger">*Please fill out of email field</small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Subject</label>
                                <input placeholder="Enter subject.." formControlName="subject" type="text" class="form-control simple">
                                <small *ngIf="!contactForm.get('subject')?.valid && submitForm" class="text-danger">*Please fill out of subject field</small>
                            </div>
                            
                            <div class="form-group">
                                <label>Message</label>
                                <textarea placeholder="Enter message..." formControlName="message" class="form-control simple"></textarea>
                                <small *ngIf="!contactForm.get('message')?.valid && submitForm" class="text-danger">*Please fill out of message field</small>
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-danger" type="submit">Submit Request</button>
                            </div>
                        </div>
                        
                    </div>
                                    
                </div>
                
                <div class="col-lg-4 col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3559.303346004152!2d81.00657231451953!3d26.86210176873481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1621502911489!5m2!1sen!2sin" width="100%" height="470" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                
            </div>
        </form>
        <!-- /row -->		
    </div>	
</section>
<!-- ============================ Agency List End ================================== -->

<app-loader *ngIf="isLoading"></app-loader>
