<div class="db-sidebar bg-white">
    <nav class="navbar navbar-expand-xl navbar-light d-block px-0 header-sticky dashboard-nav py-0">
        <div class="sticky-area shadow-xs-1 py-3">
            <div class="d-flex px-3 px-xl-10">
                <a class="navbar-brand text-center">
                    <img src="../../public/images/laxmi-prabhu-logo.png" alt="HomeID" class="img-fluid" style="height: 50px;">
                    <!-- <h3>LOGO HERE</h3> -->
                </a>
                <a class="navbar-brand text-center d-xl-none ml-auto">
                    <img src="../../public/images/gokulKripra.png" alt="HomeID" class="img-fluid" style="height: 45px;">
                    <!-- <h3>LOGO HERE</h3> -->
                </a>

                
                <div class=" d-flex align-items-center ">
                    <div class="d-flex align-items-center d-xl-none">
                        <a
                        class="dropdown-toggle text-heading pr-3 pr-sm-6 d-flex align-items-center justify-content-end"
                        data-toggle="dropdown">
                        <% if (userImage) { %>
                            <!-- <div class="mr-4 w-40px">
                                <img src="../../<%= userImage %>" alt="Admin" class="rounded-circle">
                            </div> -->
                            <% } else { %>
                                <!-- Content to display when userImage is not defined -->

                                <% } %>

                                    <% if (userName) { %>
                                        <div class="fs-13 font-weight-500 lh-1">
                                            <%- userName.split(' ')[0] %>
                                        </div>
                                        <% } else { %>
                                            <!-- Content to display when userName is not defined -->
                                            <div class="fs-13 font-weight-500 lh-1">
                                                Login
                                            </div>
                                            <% } %>

                    </a>
                    <div class="dropdown-menu dropdown-menu-right">

                        <% if (userName) { %>
                            <div class="d-flex align-items-center pl-2 pr-2">
                                <div class="mr-4 w-100">
                                    <img src="../../<%= userImage %>" alt="Admin" class="rounded-circle" style="height: 50px;">
                                </div>
                                <div class="fs-13 font-weight-500 lh-1">
                                    <a class="dropdown-item" href="/admin/logout">Logout</a>
                                </div>
                            </div>
                            <% } else { %>
                                <!-- Content to display when userName is not defined -->
                                <a class="dropdown-item" href="/admin">Login</a>
                                <% } %>

                    </div>
                    </div>
                 
                    <button class="navbar-toggler border-0 px-0" type="button" data-toggle="collapse"
                        data-target="#primaryMenuSidebar" aria-controls="primaryMenuSidebar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse bg-white" id="primaryMenuSidebar">
                <!-- <form class="d-block d-xl-none pt-5 px-3">
                    <div class="input-group">
                        <div class="input-group-prepend mr-0 bg-input">
                            <button class="btn border-0 shadow-none fs-20 text-muted pr-0" type="submit"><i
                                    class="far fa-search"></i></button>
                        </div>
                        <input type="text" class="form-control border-0 form-control-lg shadow-none"
                            placeholder="Search for..." name="search">
                    </div>
                </form> -->
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item pt-6 pb-4">
                        <h5 class="fs-13 letter-spacing-087 text-muted mb-3 text-uppercase px-3">Main</h5>
                        <ul class="list-group list-group-no-border rounded-lg">
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="/admin/dashboard" class="text-heading lh-1 sidebar-link">
                                    <span class="sidebar-item-icon d-inline-block mr-3 fs-20"><i
                                            class="fas fa-cog"></i></span>
                                    <span class="sidebar-item-text">Dashboard</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item pt-6 pb-4">
                        <h5 class="fs-13 letter-spacing-087 text-muted mb-3 text-uppercase px-3">Manage
                            Listings</h5>
                        <ul class="list-group list-group-no-border rounded-lg">
                            <!-- Slider Pages -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="#banner_collapse"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center"
                                    data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fab fa-slideshare"></i>
                                    </span>
                                    <span class="sidebar-item-text">Slider</span>
                                    <span class="d-inline-block ml-auto"><i class="fas fa-angle-down"></i></span>
                                </a>

                                <div class="collapse" id="banner_collapse">
                                    <div class="card card-body border-0 bg-transparent py-0 pl-6">
                                        <ul class="list-group list-group-flush list-group-no-border">
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/bannerPage">Add
                                                    Slider</a>
                                            </li>
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link"
                                                    href="/admin/bannerPageView">View Slider</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                             <!-- Gallery Pages -->
                             <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="#gallery_collapse"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center"
                                    data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fas fa-camera-retro"></i>
                                    </span>
                                    <span class="sidebar-item-text">Gallery</span>
                                    <span class="d-inline-block ml-auto"><i class="fas fa-angle-down"></i></span>
                                </a>

                                <div class="collapse" id="gallery_collapse">
                                    <div class="card card-body border-0 bg-transparent py-0 pl-6">
                                        <ul class="list-group list-group-flush list-group-no-border">
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/addGallery">Add Gallery</a>
                                            </li>
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link"
                                                    href="/admin/viewGallery">View Gallery</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                            <!-- Property Pages -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="#property_collapse"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center"
                                    data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fas fa-file-upload"></i>
                                    </span>
                                    <span class="sidebar-item-text">Projects</span>
                                    <span class="d-inline-block ml-auto"><i class="fas fa-angle-down"></i></span>
                                </a>

                                <div class="collapse" id="property_collapse">
                                    <div class="card card-body border-0 bg-transparent py-0 pl-6">
                                        <ul class="list-group list-group-flush list-group-no-border">
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/addProperty">Add
                                                    Projects</a>
                                            </li>
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link"
                                                    href="/admin/propertyView">View Projects</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                            <!-- Agent Page -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="#agent_collapse"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center"
                                    data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                    </span>
                                    <span class="sidebar-item-text">Agents</span>
                                    <span class="d-inline-block ml-auto"><i class="fas fa-angle-down"></i></span>
                                </a>

                                <div class="collapse" id="agent_collapse">
                                    <div class="card card-body border-0 bg-transparent py-0 pl-6">
                                        <ul class="list-group list-group-flush list-group-no-border">
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/addAgents">Add
                                                    Agents</a>
                                            </li>
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/viewAgents">View
                                                    Agents</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                            <!-- Review Page -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="#review_collapse"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center"
                                    data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fas fa-search-location"></i>
                                    </span>
                                    <span class="sidebar-item-text">Reviews</span>
                                    <span class="d-inline-block ml-auto"><i class="fas fa-angle-down"></i></span>
                                </a>

                                <div class="collapse" id="review_collapse">
                                    <div class="card card-body border-0 bg-transparent py-0 pl-6">
                                        <ul class="list-group list-group-flush list-group-no-border">
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/review">Add
                                                    Reviews</a>
                                            </li>
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link"
                                                    href="/admin/reviewPageView">View Reviews</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                             <!-- Clients Contact -->
                             <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="#client_collapse"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center"
                                    data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fas fa-users"></i>
                                    </span>
                                    <span class="sidebar-item-text">Clients Contact</span>
                                    <span class="d-inline-block ml-auto"><i class="fas fa-angle-down"></i></span>
                                </a>

                                <div class="collapse" id="client_collapse">
                                    <div class="card card-body border-0 bg-transparent py-0 pl-6">
                                        <ul class="list-group list-group-flush list-group-no-border">
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link" href="/admin/addClientContact">Add
                                                    Contact</a>
                                            </li>
                                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                                <a class="text-heading lh-1 sidebar-link"
                                                    href="/admin/viewClientContact">View Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                            <!-- Contact Page -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="/admin/contactInfo"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fas fa-id-card"></i>
                                    </span>
                                    <span class="sidebar-item-text">Contact Detail</span>
                                </a>
                            </li>

                            <!-- Enquiry Page -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="/admin/enquiries"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </span>
                                    <span class="sidebar-item-text">Career</span>
                                </a>
                            </li>

                            <!-- Project Contact Page -->
                            <li class="list-group-item px-3 px-xl-4 py-2 sidebar-item">
                                <a href="/admin/projectContact"
                                    class="text-heading lh-1 sidebar-link d-flex align-items-center">
                                    <span class="sidebar-item-icon d-inline-block mr-3 text-muted fs-20">
                                        <i class="fa fa-address-book" aria-hidden="true"></i>
                                    </span>
                                    <span class="sidebar-item-text">Project Contact Detail</span>
                                </a>
                            </li>



                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>