<div id="image-modal" class="image-modal">
  <span class="close" id="close-modal">&times;</span>
  <div class="modal-container">
    <img class="modal-content" id="modal-image" />
  </div>
</div>

<div class="gallery">
  <div class="gallery-wrapper">
    <div class="tall" *ngFor="let images of allImages">
      <img src="{{imageUrl}}{{images.image.path}}" />
    </div>
    <div class="tall" *ngIf="allImages?.length == 0">
      <h4>No images found</h4>
    </div>
  </div>
  <!-- Add more images here -->
</div>

<app-loader *ngIf="isLoading"></app-loader>