<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand text-end" routerLink="/">
                    <img src="assets/img/26jan.png" alt="26JAN" class="jan logo">
                    <img src="assets/img/laxmi-prabhu-high-resolution-logo-black-transparent.png" class="logo" alt="" />
                    <!-- <h4>LOGO HERE</h4> -->
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <img style="width: 110px;margin-left: 8px;" src="assets/img/gokul-kripa-663143.png" alt="">
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">
                <ul class="nav-menu">

                    <li><a routerLink="/" class="point">Home<span class="submenu-indicator"></span></a>
                        <!-- <ul class="nav-dropdown nav-submenu">
                            <li><a >Home 1</a></li>
                            <li><a>Home 2</a></li>
                            <li><a >Home 3</a></li>
                            <li><a >Home 4</a></li>
                            <li><a >Home 5</a></li>
                            <li><a>Home 6</a></li>
                            <li><a>Home 7</a></li>
                            <li><a>Map Home</a></li>
                        </ul> -->
                    </li>

                    <li>
                        <a routerLink="/about" class="point">About<span class="submenu-indicator"></span></a>
                        <!-- <ul class="nav-dropdown nav-submenu">
                            <li><a>Listing Grid<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a >Grid Style 1</a></li>
                                    <li><a >Grid Style 2</a></li>
                                    <li><a >Grid Style 3</a></li>
                                </ul>
                            </li>
                            <li><a>Listing List<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a>List Style 1</a></li>
                                    <li><a>List Style 2</a></li>
                                </ul>
                            </li>
                            <li><a>Listing Map<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a >Half Map</a></li>
                                    <li><a >Half Map 2</a></li>
                                    <li><a >Classical With Sidebar</a></li>
                                    <li><a >List Sidebar Map</a></li>
                                    <li><a >Grid Sidebar Map</a></li>
                                </ul>
                            </li>
                            <li><a>Agents View<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a >Agent Grid Style</a></li>
                                    <li><a >Agent Grid 2</a></li>
                                    <li><a >Agent Detail Page</a></li>
                                </ul>
                            </li>
                            <li><a>Agency View<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a >Agency Grid Style</a></li>
                                    <li><a >Agency Detail Page</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </li>

                    <li>
                        <a routerLink="/contact" class="point">Contact<span class="submenu-indicator"></span></a>
                        <!-- <ul class="nav-dropdown nav-submenu">
                            <li class=""><a>User Admin<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a >User Dashboard</a></li>
                                    <li><a >My Profile</a></li>
                                    <li><a >My Property</a></li>
                                    <li><a >Messages</a></li>
                                    <li><a>Bookmark Property</a></li>
                                    <li><a >Submit Property</a></li>
                                </ul>
                            </li>
                            <li><a>Single Property<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a>Single Property 1</a></li>
                                    <li><a >Single Property 2</a></li>
                                    <li><a >Single Property 3</a></li>
                                    <li><a >Single Property 4</a></li>
                                </ul>
                            </li>
                            <li><a>Compare Property</a></li>
                        </ul> -->
                    </li>

                    <li>
                        <a class="point" routerLink="/gallery">Gallery<span class="submenu-indicator"></span></a>
                        <!-- <ul class="nav-dropdown nav-submenu">
                            <li><a >Blog Style</a></li>
                            <li><a >About Us</a></li>
                            <li><a >Pricing</a></li>
                            <li><a>404 Page</a></li>
                            <li><a>Checkout</a></li>
                            <li><a >Contact</a></li>
                            <li><a >Elements</a></li>
                            <li><a >Privacy Policy</a></li>
                            <li><a >FAQs</a></li>
                        </ul> -->
                    </li>

                    <li>
                        <a class="point" routerLink="/career">Career<span class="submenu-indicator"></span></a>
                    </li>

                </ul>

                <ul class="nav-menu nav-menu-social align-to-right">

                    <li>
                        <a class="nav-link only-link" href="mailto:rayaanrealestateadvisior@gmail.com"
                            style="cursor:pointer;font-size: 15px;"><i class="ti-email"></i> rayaanrealestateadvisior@gmail.com</a>
                    </li>
                    <li class="add-listing">
                        <a routerLink="/contact" class="bg-danger point">
                            <i class="fa fa-mobile me-2"></i>Contact us
                        </a>
                    </li>
                    <li class="add-listing">
                        <img style="width: 110px;margin-left: 8px;" src="assets/img/gokul-kripa-663143.png" alt="">
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->