<div class="row gray">
    <div class="short_wraping mx-auto shadow">
        <div class="row align-items-center">
            <nav class="breadcrumbs">
                <a class="breadcrumbs__item" routerLink="/">Home</a>
                <a class="breadcrumbs__item">Project Detail</a>
                <a class="breadcrumbs__item">{{projectDetail?.project_name}}, {{projectDetail?.city}},
                    {{projectDetail?.state}}</a>
            </nav>
        </div>
    </div>
</div>

<!-- ============================ New Search Form Start ================================== -->
<div class="featured_slick_gallery gray">
    <div class="featured_slick_gallery-slide">
        <div class="featured_slick_padd" *ngFor="let item of projectDetail?.image">
            <a href="{{imageUrl}}{{item?.path}}" class="mfp-gallery">
                <img src="{{imageUrl}}{{item?.path}}" class="img-fluid mx-auto" alt=""
                    style="height: 450px; width: 100%;" />
            </a>
        </div>
    </div>
</div>
<!-- ============================ New Search Form End ================================== -->

<!-- ============================ Property Detail Start ================================== -->
<section class="gray">
    <div class="container">
        <div class="row">

            <!-- property main detail -->
            <div class="col-lg-8 col-md-12 col-sm-12">

                <div class="property_info_detail_wrap exlio_wrap mb-4">

                    <div class="property_info_detail_wrap_first">
                        <div class="pr-price-into">
                            <div class="_card_list_flex mb-2">
                                <div class="_card_flex_01 d-flex justify-content-between">
                                    <span class="_list_blickes _netork py-3">Posted Date:- {{projectDetail?.posted_Date
                                        |
                                        date}}</span> &nbsp;
                                        <span class="_list_blickes types">Project Id:- {{projectDetail?.project_Id}}</span> &nbsp;
                                    <span class="_list_blickes types">Category:- {{projectDetail?.category}}</span>
                                </div>
                            </div>
                            <h2>{{projectDetail?.project_name}}</h2>
                            <span><i class="fas fa-map-marker-alt"></i> {{projectDetail?.city}},
                                {{projectDetail?.state}}</span>
                        </div>
                    </div>

                </div>

                <!-- Single Block Wrap -->
                <div class="_prtis_list mb-4">
                    <div class="_prtis_list_body">
                        <ul class="deatil_features">
                            <li><strong>Project name</strong>{{projectDetail?.project_name}}</li>
                            <li><strong>Status</strong>{{projectDetail?.status}}</li>
                            <li><strong>Location</strong>{{projectDetail?.city}}, {{projectDetail?.state}}</li>
                        </ul>
                    </div>
                </div>

                <!-- Single Block Wrap -->
                <div class="_prtis_list mb-4">
                    <div class="_prtis_list_header min">
                        <h4 class="m-0">About <span class="theme-cl">Property</span></h4>
                    </div>
                    <div class="_prtis_list_body">
                        <p>{{projectDetail?.project_description}}</p>
                    </div>
                </div>

            </div>

            <!-- property Sidebar -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="property-sidebar side_stiky">

                    <div class="sider_blocks_wrap shadows">
                        <div class="side-booking-header">
                            <ul class="nav nav-pills sider_tab" id="pillss-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active bg-success" id="pills-book-tab"
                                        target="_blank" href="https://web.whatsapp.com/send?phone=8829058003"
                                        aria-selected="true"><span><i class="fab fa-whatsapp"></i> <br>
                                            +91 8829058003</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-danger" href="mailto:support@laxmiprabhu.com" role="tab"
                                        aria-controls="pills-appointment" aria-selected="false"><i
                                            class="ti-email"></i><br> support@laxmiprabhu.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidetab-content">
                            <div class="tab-content" id="pillss-tabContent">
                                <!-- Book Now Tab -->
                                <div class="tab-pane fade show active" id="pills-book" role="tabpanel"
                                    aria-labelledby="pills-book-tab">
                                    <div class="side-booking-body">
                                        <div class="row">

                                            <div class="col-lg12 col-md-12 col-sm-12 mt-3">
                                                <h6>Advance features</h6>
                                                <div class="_adv_features_list">
                                                    <ul class="no-ul-list">
                                                        <li class="my-1 d-flex">
                                                            <i class="fa fa-star star-color" aria-hidden="true"></i>&nbsp;
                                                            <label for="a-1" class="form-check-label">Open workout
                                                                zone</label>
                                                        </li>
                                                        <li class="my-1 d-flex">
                                                            <i class="fa fa-star star-color" aria-hidden="true"></i>&nbsp;
                                                            <label for="a-2" class="form-check-label">Temple</label>
                                                        </li>
                                                        <li class="my-1 d-flex">
                                                            <i class="fa fa-star star-color" aria-hidden="true"></i>&nbsp;
                                                            <label for="a-3" class="form-check-label">Kids play
                                                                area</label>
                                                        </li>
                                                        <li class="my-1 d-flex">
                                                            <i class="fa fa-star star-color" aria-hidden="true"></i>&nbsp;
                                                            <label for="a-4" class="form-check-label">Rainwater
                                                                harvesting system</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <a href="{{imageUrl}}{{projectDetail?.brochure?.path}}"
                                                        target="_blank">
                                                        <button class="btn btn-danger full-width fw-medium">Download
                                                            Brochure</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================ Property Detail End ================================== -->

<!-- ============================ Call To Action ================================== -->
<section class="bg-danger call_action_wrap-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call_action_wrap">
                    <div class="call_action_wrap-head">
                        <h3>Do You Have Questions ?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call_action_wrap">Contact Us Today</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Call To Action End ================================== -->

<app-loader *ngIf="isLoading"></app-loader>